
textarea, select, input, button {
    outline: none;
}
body {
    margin: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    min-width: 800px;
    min-height: 720px;
}

.box-shadow {
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,.5)
}

.pointer{
    cursor: pointer;
}

.top-bar-simple {
    background: linear-gradient(180deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);
    text-align: center;
    height: 92px;
}

.top-bar{
    top:0px;
    width:100%;
    position:fixed;
    height:64px;
    display :flex;
    z-index:99;
    background-color: rgba(0,0,0,.75);
}

.search-box{
    margin:auto;
    text-align:center;
    display:flex;
    margin-block-end: 0px;
    width:320px;
}
.top-bar-button{
    opacity:.5;
    cursor: pointer;
}
.top-bar-button:hover{
    opacity:1;
}
.top-bar-button:active{
    opacity:.5;
}

.search-textbox{
    padding:8px;
    border-radius: 24px;
    color: white;
    background-color: rgba(0,0,0,.75);
    text-indent: 8px;
    border: 2px solid rgba(255,255,255,.25);
    width:256px;
    margin-right:16px;
    flex-grow: 1;
    font-size:16px;
}

.top-bar-area{
    width: 64px;
    flex-grow: 1;
    margin:auto;
    align-items: center;
    display: flex;
}

.user-options{
    display:flex;
    flex-direction: row-reverse;
}

.profile-menu-box{
    cursor: pointer;
    color: rgba(255,255,255,.5);
}

.profile-menu-box:hover{
    color:white;
}
.profile-menu-box:active{
    color: rgba(255,255,255,.5);
}

.profile-menu-pic{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255,255,255,.25);
    margin-right:32px;
}

.profile-menu-container{
    position:fixed;
    top:0px;
    right:0px;
    z-index:99;
}

.profile-menu{
    padding: 8px;
    margin-top:80px;
    margin-right:16px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.75);
}

.profile-menu-item{
    padding: 16px;
   display:block;
   text-decoration: none;
   color: rgba(255,255,255,.5);
}

.profile-menu-item:hover{
    color:white;
}
.profile-menu-item:active{
    color: rgba(255,255,255,.5);
}

.top-bar-link{
    text-decoration: none;
    color:white;
    opacity:.5;
    display:flex;
}

.chapter-button{
    height:24px;
    width:24px;
}

.top-bar-link:hover{
    opacity:1;
}
.top-bar-link:active{
    opacity:.5;
}

.top-bar-link-selected{
    pointer-events: none;
}

.toast {
    z-index: 99;
    position: fixed;
    opacity: 0;
    transition: opacity .1s;
    color: black;
    top: 64px;
    margin-top: 32px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 32px;
    text-align: center;
    padding: 16px;
    padding-right: 32px;
    padding-left: 32px;
    min-width: 256px;
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,.5)
}

.books {
    background-image: url("../res/books.jpg");
    background-position: center;
}

.test {
    border: 1px solid red;
}

.footer {
    position: static;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: gray;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: rgba(0,0,0,.75);
}

.for-footer{
    height:calc(100% - 34px);
}

.button {
    border: 1px solid transparent;
    border-radius: 6px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    min-width:64px;
    text-align:center;
    transition: .1s;
}

    .button:hover {
        transform:scale(1.06);
    }

    .button:active {
        transition:none;
        transform:scale(1);
    }

.button-alt {
    border: 1px solid red;
    font-size: 16px;
    border-radius: 6px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    min-width:64px;
    text-align:center;
    transition: .1s;
}
    .button-alt:hover {
        transform:scale(1.06);
}

    .button-alt:active {
        transition:none;
        transform:scale(1);
}


.disabled{
     pointer-events: none;
    filter: grayscale(100%);
    opacity:.33;
}

.hidden{
    opacity:0;
    pointer-events: none;
}

.textbox {
    height:33px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid lightgray;
}

.accent {
    color: black;
    background-color: red;
}

.accent-alt {
    color: white;
    background-color: red;
}

.button-accent-white {
    background-color: white;
    color:black;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    min-width:64px;
    text-align:center;
    margin-right:32px;
    transition: .1s;
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,.25)
    }
    .button-accent-white:hover {
        transform: scale(1.05);
    }

    .button-accent-white:active {
        transition:none;
        transform: scale(1);
    }


.button-white {
    border: 1px solid white;
    color:white;
    font-weight: bold;
    border-radius: 6px;
    text-decoration: none;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    min-width:64px;
    text-align:center;
    margin-right:32px;
    transition: .1s;
    }
    .button-white:hover {
        transform: scale(1.05);
    }

    .button-white:active {
        transition:none;
        transform: scale(1);
    }    

.absolute-bottom {
    position: absolute;
    bottom: 0;
}

.margin-16 {
    margin: 16px;
}

.margin-32 {
    margin: 32px;
}

.margin-auto {
    margin:auto;
}

.center-text {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.flex-grow{
    flex-grow: 1;
}

.v-align-text {
    display: table-cell;
    vertical-align: middle;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.red-link{
    color: red;
    text-decoration: none;

}

    .red-link:hover {
        text-decoration: underline;
    }

.gray-link {
    color: gray;
    text-decoration: none;
}

    .gray-link:hover {
        text-decoration: underline;
    }

 .smooth{
    transition: .1s;
 }

 .super-smooth{
    transition: 0.5s cubic-bezier(0.22, 1, 0.36, 1);
 }

 .v-list-title{
    font-size: 20px;
    margin-top:24px;
    margin-left:24px;
 }

 .v-list-container{
    width: 100%;  
    position: relative;
}

 .v-list-content{
    display:flex;
    padding-left:24px; 
    padding-right:24px;   
    overflow: hidden;   
    scroll-behavior: smooth;
 }
 
 .w-list-content{
    display:flex;
    flex-wrap: wrap;
    padding-left:24px; 
    padding-right:24px;   
 }

.empty-list-title{
    text-align: center;
    color:rgba(255,255,255,.25);
    font-weight: bold;
    font-size: 48;
}
.empty-list-desc{
    text-align: center;
    color:rgba(255,255,255,.25);
    font-size: 20;
}

 .list-item{
     display:flex;
     transition: 0.1s cubic-bezier(0.22, 1, 0.36, 1);
     margin-left:16px;
     margin-top:24px;
     margin-bottom:16px;
     text-decoration: none;
 }

    .list-item:hover{
        transform:scale(1.05,1.05);
    }

    .list-item:active{
        transform:scale(1,1);
    }

 .list-item-pic{
    height:192;
    width:128;
    background-color:gray;
 }

 .list-item-desc{
     margin:auto;
     margin-left:16px;
     margin-right:16px;
     width:192;
     color: white;
 }

 .list-item-author{
    font-size:16px;
     opacity: .5;
 }

 .stars{
     display:flex;
 }

 .star{
     margin-right:8px;
 }

 .v-list-scroll-container{
     position:absolute;
     bottom:0px;
     width:96px;
     height:232px;
     background: linear-gradient(90deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,0) 100%);
     z-index: 1;
     cursor: pointer;
 }

 .v-list-scroll{
     width:100%;
     height:100%;
     opacity:.33;
 }

    .v-list-scroll:hover{
        opacity: 1;
    }

    .v-list-scroll:active{
        transition: 0s;
        opacity: .5;
    }

 
 .v-list-scroll-ico{
    margin-left:16px;
    margin-top:104px;
 }

 .news-container{
     position:relative;
     height:360px;
     overflow: hidden;
 }

 .news-content{
    position:absolute;
     width:800px;
     left:50%;
     transform: translateX(-50%);
     padding-top:64px;
     height:296px;
     display:flex;
 }

 .news-background {
    position:absolute;
    padding-top:180px;
    transform: translateY(-50%) scale(1.2);
    width: 100%;
    filter: blur(64px);
 }

 .news-image{
     margin-top:32px;
     height:232px;
     box-shadow: 0px 0px 32px 0px rgba(0,0,0,.25)
 }

 .news-text{
     margin-top:64px;
     margin-left:32px;
     text-shadow: 0px 0px 8px rgba(0,0,0,.50)
 }

 .news-title{
     font-size: 32px;
 }

 .news{
     transition: 1s;
 }

 .news-desc{
     
    font-size: 20px;
    margin-top:32px;
 }

 .news-selector-container{
     left:50%;
     transform: translateX(-50%);
     position:absolute;
     bottom:8px;
     display:flex;
 }

 .news-selector{
     height:8px;
     width:8px;
     padding:8px;
     cursor: pointer;
     opacity:.33;
 }

    .news-selector:hover{
        opacity:1;
    }

    .news-selector:active{
        opacity:.5;
    }

.news-selector-active{
    opacity:1;
}
.circle{
    width:100%;
    height:100%;
    border-radius:50%;
    background-color: white;
}

.null-news-background{
    position:absolute;
    width: 100%;
    height: 100%;
}

.null-news-background-pattern{
    background-image: url("../res/pattern.png");
    background-repeat: repeat;
    position:absolute;
    width: 100%;
    height: 100%;
}

.null-news-back-color-light{
    background-color: rgba(255,255,255,.33);
    height: 50%;
}

.null-news-text{
    margin:auto;

    text-align: center;
    text-shadow: 0px 0px 8px rgba(0,0,0,.50)
}

.preview-container{
    position:relative;
    overflow: hidden;
    height:400px;
}

.preview-container-demo{
    position:relative;
    overflow-x: hidden;
    height:100%;
}

.preview-content{
    position:absolute;
    width:1024px;
    left:50%;
    transform: translateX(-50%);
    padding-top:64px;
    height:336px;
    display:flex;
}

.preview-cover{
    margin-top:32px;
    height:272px;
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,.25)
}

.preview-text{
    margin:32px;
    margin-right:0px;
    bottom:0px;
    text-shadow: 0px 0px 8px rgba(0,0,0,.50)
}

.preview-title{
    font-size: 32;
    margin-bottom:8px;
}
.preview-author{
    font-size: 20;
    opacity:.5;
    margin-bottom:16px;
}
.preview-description{
    margin-top:32px;
}

.preview-controls{
    display:flex;
    position:absolute;
    bottom:32px;
}

.preview-background {
    position:absolute;
    padding-top:200px;
    transform: translateY(-50%) scale(1.2);
    width: 100%;
    filter: blur(64px);
    opacity:.67;
 }

 .preview-demo{
    position:relative;
    width:100%;
    height:100%;
    overflow:hidden;
 }

 .preview-demo-gradient{
     pointer-events: none;
     position:relative;
     height:100%;
     background: linear-gradient(180deg, transparent 400px, black 100%);
    
 }

.search-type-container{
    margin-top: 64px;
    position: fixed;
    text-align: center;
    background-color: rgba(0,0,0,.75);
    width:100%;
    z-index:98;
}

 .search-type-selector{
    display:flex;
 }

 .search-type{
     color:white;
    padding:12px 32px;
    background-color: rgba(51,51,51,.75);
    border-radius: 24px;
    margin:16px;
    margin-top:4px;
    text-decoration: none;
 }

 .search-type:hover{
    transform:scale(1.1,1.1);
}

.search-type:active{
    transform:scale(1,1);
}

 .search-type-selected{
     color:black;
    background-color: white;
    pointer-events: none;
 }

 .search-results-container{
     padding-top:128px;
 }
.white-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 40px));
}
 .white-box-background{
     position:fixed;
     margin-top:64px;
     width:100%;
     height:calc(100% - 64px);
     background-color: rgba(0,0,0,.5);
     z-index:98;
 }

 .white-box-close-container{
     display:flex;
     flex-direction: row-reverse;
 }

 .white-box-close{
    margin-bottom:16px;
    margin-right:8px;
    opacity: .75;
 }

 .white-box-close:hover{
    opacity: 1;
 }

 .white-box-close:active{
    opacity: .75;
 }

 .white-box{
     padding:16px;
     background-color: white;
     border-radius: 6px;
     overflow: hidden;
     color:black;
 }

 .chapter{
     color:black;
     display:block;
     padding:16px ;
     margin:8px;
     border-radius: 6px;
     font-size: 20px;
     cursor: pointer;
     transition: .1s;
     text-decoration:none;
 }

    .chapter:hover{
        background-color: rgba(0,0,0,.15);
    }

    .chapter:active{
        transition: .0s;
        background-color: rgba(0,0,0,.25);
    }

 .chapter-back{
     width:calc(50% - 32px);;
 }

 .white-box-scroll{
     overflow-y: auto;
     max-height:640px;
 }

 .critic-user{
     font-weight: bold;
 }

 .critic-splitter{
     background-color: rgba(0,0,0,.15);
     width:67%;
     height: 1px;
     margin:8px auto 8px auto;

     align-self: center;
 }

 .critic-comment{
     padding-top:16px;
 }

 .no-critics{
     text-align: center;
     padding-top:32px;
     padding-bottom:32px;
     color: rgba(0,0,0,.5);
     font-size: 20px;
     width:512px;
 }
 .critic{
    padding:8px;
    width:512px;
 }

 .report{
     float: right;
     right:24px;
     filter: grayscale(100%);
     opacity:.15;
 }

    .report:hover{
        filter: grayscale(0%);
        opacity:1;
    }
    .report:active{
        transition: 0s;
        filter: grayscale(0%);
        opacity:.5;
    }

 .error-container{
     text-align: center;
     color: rgba(255,255,255,.25);
     max-width:640px;
     left:50%;
     top:25%;
     transform: translateX(-50%);
     position:absolute;
 }

 .pdf-viewer{
     width:100%;
     height:calc(100%);

 }

 .new-review-comment{
    resize: none;
    border:1px solid rgba(0,0,0,.25);
    border-radius: 6px;;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 16px;
    width:calc(100% - 8px);
    margin-left:4px;
    height:72px;
    /*text-indent: 2px;*/
    padding:6px;
 }

 .new-review-star{
     /*in a galaxy far far away*/
     filter: grayscale(100%);
     opacity:.33;
 }
 
 .new-review-star:hover{
    opacity:1;
    transform: scale(1.2);
    filter: grayscale(0%);
 }
 .new-review-star:active{
    opacity:1;
    transition-duration: 0s;
    transform: scale(1);
    filter: grayscale(0%);
 }

 .new-review-star-selected{
    filter: grayscale(0%);
    opacity:1;
 }